<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.boardproject.user.domain.UserDto" alias="UserDto" />
        <typeAlias type="com.example.boardproject.board.domain.BoardDto" alias="BoardDto" />
        <typeAlias type="com.example.boardproject.board.entity.PageHandler" alias="PageHanddler" />
    </typeAliases>
</configuration>